<h1>Create New Event...</h1>
  <form id="new_user" action="/event/create" method="POST">
    <input type="text" name="event[name]" placeholder="name">
    <input type="text" name="event[location]" placeholder="location">
    <input type="text" name="event[starts_at]" placeholder="year-month-day">
    <input type="text" name="event[ends_at]" placeholder="year-month-day">
    <input type="submit">
  </form>