<div class="container">
  <h1>Login...</h1>
  <form id="login" action="/login" method="POST">
    <input type="text" name="user[email]" placeholder="email address">
    <input type="text" name="user[password]" placeholder="password">
    <input type="submit">
    <% if @login_errors %>
      <span class="errors"><%= @login_errors %></span>
    <% end %>
  </form>
<br>
<br>
  <h1>Create New User...</h1>
  <form id="new_user" action="/create" method="POST">
    <input type="text" name="user[first_name]" placeholder="first name">
    <input type="text" name="user[last_name]" placeholder="last name">
    <input type="text" name="user[birthdate]" placeholder="year-month-day">
    <input type="text" name="user[password]" placeholder="password">
    <input type="text" name="user[password_validation]" placeholder="password">
    <input type="submit">
    <% if @login_errors %>
      <span class="errors"><%= @errors %></span>
    <% end %>
  </form>
</div>